[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "bd.org.bcb.directors.portal.twa",
      "sha256_cert_fingerprints": [
        "REPLACE_WITH_UPLOAD_KEYSTORE_SHA256"
      ]
    }
  }
]
